@{
    ViewBag.Title = "Məhsullar";
}

@model List<Product>

  <!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Məhsullar</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End-->

<!-- Latest Products Start -->
<section class="popular-items latest-padding">
    <div class="container">

        <div class="row product-btn justify-content-between mb-40">

            <div class="my-2">
                <form asp-action="Index" asp-controller="Product" id="filterForm">
                    <select onchange="this.form.submit()" name="sort" class="form-select">
                        <option value="">Ən Yeni Məhsullar</option>
                        <option value="2">Kişilər üçün</option>
                        <option value="3">Qadınlar üçün</option>
                        <option value="4">Qiymət(Yuxarıdan aşağıya)</option>
                        <option value="5">Qiymət (Aşağıdan yuxarıya)</option>
                    </select>
                </form>
            </div>


            <div class="my-2" style="display: flex; justify-content: flex-end;">
                <form method="get" style="margin-left: auto;">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input style="width: 260px;" type="text" name="search" class="form-control" placeholder='Məhsulu axtarın'
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Məhsulu axtarın'">
                            <button style="background-color: red; border: 1px solid red; display: flex;" class="btns" type="submit"><i style="color: white; padding-top: 8px;" class="ti-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        
        </div>



        <div id="myproduct" class="row">
            @foreach (var product in Model)
            {
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center">
                        <div class="popular-img">
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                <img style="height:373px; width:360px;" src="~/assets/img/product/@product.Image">
                            </a>
                            <div class="img-cap">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-controller="Basket" asp-action="AddBasket" asp-route-id="@product.Id"><span>Səbətə at</span></a>
                                }
                                else
                                {
                                    <a asp-controller="Account" asp-action="Login"><span>Səbətə at</span></a>
                                }
                            </div>

                        </div>
                        <div class="popular-caption">
                            <h3><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></h3>
                            <span>@product.Price Azn</span>
                        </div>
                    </div>
                </div>
            }
        </div>

        @if (ViewBag.Take >= Model.Count)
        {
            
        }
        else
        {
            <div class="row justify-content-center">
                <div class="my-3">
                    <a id="loadMore" style="color:white;" class="btn btn-outline-danger">Daha Çox Məhsul</a>
                    <input type="hidden" @ViewBag.ProductsCount />
                </div>
            </div>
        }

    </div>
</section>
<!-- Latest Products End -->

@section Scripts{
    <script asp-append-version="true;">
        let skip = 18
        let productsCount = $("#loadMore").next().val()
        $(document).on("click", "#loadMore", function () {
            $.ajax({
                url: "/Product/LoadMore/",
                type: "get",
                data:
                {
                    "skipCount": skip
                },
                success: function (res) {
                    $("#myproduct").append(res)
                    skip += 18;

                    if (productsCount <= skip) {
                        $("#loadMore").remove()
                    }
                }
            });
        });
    </script>
}