@model FooterVM

<div class="row d-flex justify-content-between">
    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
        <div class="single-footer-caption mb-50">
            <div class="single-footer-caption mb-30">
                <!-- logo -->
                <div class="footer-logo">
                    <a asp-controller="Home" asp-action="Index"><img src="~/assets/img/logo/@Model.Bio.FooterImage" alt=""></a>
                </div>
                <div class="footer-tittle" style="margin-top:-50px;">
                    <div class="footer-pera">
                        <p>@Html.Raw(Model.Bio.FooterDescription)</p>
                        <div class="footer-social" style="margin-top:-25px;">
                            <a href="@Model.SocialMedia.TviterLink"><i class="fab fa-twitter"></i></a>
                            <a href="@Model.SocialMedia.InstagramLink"><i class="fab fa-behance"></i></a>
                            <a href="@Model.SocialMedia.YoutubeLink"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                    <div class="footer-copy-right f-right">
                        <!-- social -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Sürətli linklər</h4>
                <ul>
                    <li><a asp-controller="About" asp-action="Index">Haqqımızda</a></li>
                    <li><a asp-controller="Product" asp-action="Index">Məhsullar</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Yeni Məhsullar</h4>
                <ul>
                    @foreach(Product product in Model.Products)
                    {
                        <li><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></li>
                    }                   
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Dəstək</h4>
                <ul>
                    <li><a asp-controller="Faq" asp-action="Index">Ən çox verilən Suallar</a></li>
                    <li><a asp-controller="Vacancy" asp-action="Index">Vakansiyalar</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>