@model Contact

<p>@Model.Email</p>
<p>@Model.FullName</p>
<p>@Model.Subject</p>
<p>@Model.Created.ToShortDateString()</p>
<p>@Model.Message</p>

<a asp-action="Index" class="btn btn-primary">Geri Qayıt</a>